.dice-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
}

.dice-header {
    text-align: center;
    padding: 20px;
    background-color: rgba(59, 145, 124, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
    color: #fff;
}

.player {
    border: 1px solid #fff;
}

.dice-images {
    height: 200px;
    padding: 20px;
}

.dice-images .col-6 {
    border: 1px solid gray;
}
